<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>西门子家电-全城寻找老用户</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=yes">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/swiper.min.css">
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/swiper.js"></script>

</head>

<body>
   <div class="bg3">
     <img src="__PUBLIC__/Home/icon/bg3-icon1.png" class="bg3-text1">
     <span class="bg3-text2">恭喜您获得一次抽奖机会！</span>
     <div class="bg3-btn"><a href="{:U('Home/Index/choujiang')}">立即去抽奖</a></div>
    
   </div>
   
</body>
</html>
